.Home__baseContainer{
    width: 100%;
    height: 100%;
    
}
.Home__Header{
    width: 100%;
    min-height:300px;
    background-color: #149777;
    padding: 5px;
    
    
}

.home__header__locationContainer{
    margin-top:50px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.home__header__location{
    border-radius: 20px;
    padding:8px 13px 8px 12px;
    background-color:#10846F ;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.home__header__location svg{
    padding: 0px 3px 0px 3px;
}
.home__header__location:hover{
    cursor: pointer;
}
.home__header__SearchContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home__header__Search{
    display: flex;
    flex-grow: 1;
    max-width: 980px;
    height: 75px;
    border-radius: 70px;
    background-color: white;
    align-items: center;
    padding: 0 3px 0 40px;
}
.home__header__Search input{
    display: flex;
    flex-grow: 1;
    height: 55px;
    border: none;
    outline: none;
    font-size: 20px;
}
.home__header__Search span{
    border: 1px solid black;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC800;
    color: #673500;
    border: none;

    
    
}
.bi-search{
    font-size: 2rem;
}
.Home__itemCategoryTitle{
    margin-top:40px ;
    margin-left: 15%;
    color: #545655;
}

.Home__itemCategoryContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.Home__itemCategoryItems{
    max-width: 70%;
    padding-left: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* border:1px solid black; */
}

.Home__itemCategoryItem{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    width: auto;
}
.Home__itemCategorydetailContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100px;
    flex-grow: 3;
}
.Home__itemCategoryItem_Icon_Container{
    padding:20px;
}
.Home__itemCategorydetailContainer span:first-child {
    font-size: larger;
    font-weight: 420;
    padding: 0 0 5px 0;
}

.Home__itemCategorydetailContainer span:nth-child(2) {
    font-size: large;
    font-weight: 400;
    color: #9A768C;
    padding: 0 0 5px 0;
}